
<div class="d-flex flex-lg-row flex-lg-wrap">
    {{#each products}}
        <div class="col-lg-4">
            <strong>
                {{title}}
            </strong><br>
            {{description}}<br>
            {{price}}
        </div>
    {{/each}}
</div>
<script src="js/index.js"></script>